@model IEnumerable<FoodDelivery.Entities.Concrete.CompanyApply>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Logo</th>
            <th class="text-center">Şirket Adı</th>
            <th class="text-center">Açıklama</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var item in Model)
            {

                <tr class="text-center">
                    <td><img src="@item.PhotoPath" class="img-responsive" style="height:50px;" alt="@item.CompanyName" /></td>
                    <td><h4>@item.CompanyName</h4></td>
                    <td>@item.Description</td>
                    <td>
                        @{
                            if (item.IsActive)
                            {
                                @Html.ActionLink("Ekle", "Add", "Admin", new { @id = item.ID }, new { @class = "form-control btn btn-success" });
                            }
                            else
                            {
                                <span class="label-success">Eklendi</span>
                            }
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

