@model IEnumerable<UI.DTOs.MenuPointDto>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Arama sonuçları</h4>
    </div>
    <div class="panel-body">
        @{
            if (Model.Count() > 0)
            {
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Menü Adı</th>
                            <th>Puanı</th>
                            <th>Fiyatı</th>
                            <th>Şirket</th>
                            <th style="text-align:center">Sepet Ekle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Menu.MenuName</td>
                                    <td>@{ if (item.Point == 0)
                                        { <span class="text-center">Yorum yapılmadı.</span> }
                                        else
                                        {
                                            for (int i = 0; i < item.Point; i++)
                                            {
                                                <span class="glyphicon glyphicon-star"></span>
                                            }
                                            if (item.Point != 5)
                                            {
                                                for (int i = 0; i < 5 - item.Point; i++)
                                                {
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                }
                                            }
                                        } }</td>
                                    <td>@string.Format("{0:C2}", item.Menu.Price)</td>
                                    <td>@item.Menu.Company.CompanyName</td>
                                    <td style="text-align:center;font-size:15pt;">
                                        <input type="hidden" id="companyID" value="@item.Menu.CompanyID" data-id="@item.Menu.ID"  />
                                        <input type="number" value="1" min="1" max="20" id="menuSayisi" data-id="@item.Menu.ID" />
                                        <a href="#" class="btn btn-default" id="sepeteEkle" data-id="@item.Menu.ID">
                                            <span class="glyphicon glyphicon-plus" style="color:green">
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4 class="text-center">Menü bulunamadı.</h4>
            }

        }

    </div>
</div>


