@model UI.DTOs.BranchRegionsDto
@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_CompanyLayoutPage.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Bölge</th>
            <th>Adres</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.Branches)
            {
                <tr>
                    <td>@item.Region.RegionName</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>
                        @using (Html.BeginForm("ChangeIsActive", "Company", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@item.ID" />
                            if (item.IsActive)
                            {
                                <input type="submit" value="Şubeyi Kapat" class="btn btn-danger" />
                            }
                            else
                            {
                                <input type="submit" value="Şubeyi Aç" class="btn btn-success" />
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<hr />
<div id="bolgeEkle" class="btn btn-primary">Şube Ekle</div>
<br />
<br />

<div id="bolgeEklemeFormu" class="col-md-6" style="display:none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Yeni Şube Ekle</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddBranch", "Company", FormMethod.Post))
            {
                <div class="form-group">
                    <select name="region" class="form-control">
                        @{
                            foreach (var item in Model.Regions)
                            {
                                <option value="@item.ID">@item.RegionName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <textarea required id="branchAddress" class="form-control" style="resize:none" name="adres" placeholder="Adres"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" id="branchPhone" required name="phone" class="form-control" placeholder="Telefon" />
                </div>
                <div class="form-group">
                    <input type="submit" id="subeEkle" value="Yeni Şube Ekle" class="btn btn-success form-control" />
                </div>
            }
        </div>
    </div>
</div>

@section scriptsCompany{
    <script>
        $(document).ready(function () {
            $("#bolgeEkle").click(function () {
                $("#bolgeEklemeFormu").slideToggle("slow");
            });
            $("#subeEkle").click(function () {
                $("#addMenu").click(function () {
                    if ($("#branchAddress").val() != null && $("#branchPhone").val() != null) {
                        $.notify("Yeni şube eklendi.", { className: 'success', position: 'bottom right' })
                    }
                });

            })
        })
    </script>
}




